# Add any directories, files, or patterns you don't want to be tracked by version control
.keys.txt
__pycache__
env

# Directories to ignore
/Reference_Material/
Reference_Material
**/Reference_Material

# Ignoring test file
*~
test~.txt

# Ignoring PDFs
*.PDF